{{ define "main" }}
<div class="container">

  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <div class="project-list">
    {{ range .RegularPages.ByTitle }}
      <article class="project-preview">

        <div class="project-row">
          <h2 class="project-title">
            <a href="{{ .RelPermalink }}">{{ with .Params.titleHtml }}{{ . | safeHTML }}{{ else }}{{ .Title }}{{ end }}</a>
          </h2>

          {{ with .Summary }}
            <p class="project-summary">{{ . }}</p>
          {{ end }}
        </div>

         <hr>
      </article>
    {{ end }}
  </div>

</div>
{{ end }}
